.list {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.list__item {
  padding-left: 5px;
  color: #02535F;
}

.list__item:not(:last-child) {
  margin-bottom: 10px;
}

.list__link {
  text-decoration: underline;
}

.list--style-type--hyphen {
  list-style-type: '—';
  padding-left: 15px;
}
